/*variables*/
:root{
    --primary: #00b4b6;
    --dark: #000;
    --light: #fff;
    --text: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    background-color: var(--light);
  
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px var(--primary);
}

.logo {
  font-size: 2rem;
  color: var(--primary);
}

.navbar {
    ul {
  list-style: none;
  display: flex; /* أفقي */
  gap: 20px; /* مسافة بين اللينكس */
      }

 a {
  position: relative;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  }

}

/* الخط المتحرك */
.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--primary);
  transform: scaleX(0);               /* الخط مخفي */
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar a:hover::after {
  transform: scaleX(1);              /* يظهر الخط بالحركة */
}

.hover :hover{
color: var(--primary);
}


/* Hero Section */
.welcom {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 2rem;
  background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),url(images/book1.png); /* خلفية شفافة */
  background-size: cover;
  background-position: center;
  
}


.welcom__content {
    flex: 1;
    max-width: 50%;
    h1 {
  font-size: 2.5rem;
  span {color: var(--primary);}
      }

 p {
  max-width: 500px;
  margin-bottom: 4rem;
   }
}
.welcom__books img {
  width: 100%;
  max-width: 650px; /* حجم مناسب */
  height: auto;
  display: block;

}


.btn {
  background-color: var(--primary);
  color: var(--light);
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: white;
  color: var(--primary);
}

